.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2rem 0 0 0;
  list-style: none;
  width: 100%;
}

.slick-dots li {
  margin: 0 4px;
  padding: 0;
  width: auto;
  height: auto;
}

.slick-dots li button {
  display: block;
  padding: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #E5E7EB;
  text-indent: -9999px;
  transition: background-color 0.2s;
}

.slick-dots li.slick-active button {
  background-color: #7741EA;
  width: 12px;
  height: 12px;
}
