# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist/assets/index-DqP26z0E.js
dist/assets/css/index-BMlLskfr.css
dist/assets/css/index-CuDcaxOA.css
dist/index.html
dist/index.html
.gitignore
dist/index.html
*.cache
dist/assets/index-Bi3X-bLD.js
dist/assets/index-BGg1QLPh.js
dist/assets/images/highLogo-BGWxu2xw.png
dist/assets/css/index-DhyDjo-F.css
dist/assets/css/index-Co6tpQeB.css
.firebase/hosting.ZGlzdA.cache
dist/index.html
dist/assets/index-DquMP8_W.js
dist/assets/css/index-Qo_NoVPL.css
dist/assets/css/index-mgpSVmwN.css
dist/assets/css/index-Qo_NoVPL.css
.firebase/hosting.ZGlzdA.cache
dist/assets/css/index-C-pEReK9.css
dist/assets/index-jh972EsW.js
